CompetencePlusBAL/bin
CompetencePlusBAL/obj
CompetencePlusDAL/bin
CompetencePlusDAL/obj
CompetencePlusForm/obj
CompetencePlusForm/bin/Debug/fr
CompetencePlusForm/bin/Debug/CompetencePlusBAL.dll
CompetencePlusForm/bin/Debug/CompetencePlusBAL.pdb
CompetencePlusForm/bin/Debug/CompetencePlusDAL.dll
CompetencePlusForm/bin/Debug/CompetencePlusDAL.pdb
CompetencePlusForm/bin/Debug/CompetencePlusForm.exe
CompetencePlusForm/bin/Debug/CompetencePlusForm.pdb
CompetencePlusForm/bin/Debug/CompetencePlusForm.vshost.exe
CompetencePlusForm/bin/CompetencePlusForm.vshost.exe.manifest


CompetencePlusForm/bin/Debug/db_cplus.accdb
CompetencePlusBAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompetencePlusBAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompetencePlusDAL/obj/Debug/CompetencePlusDAL.csproj.FileListAbsolute.txt
CompetencePlusDAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompetencePlusForm/obj/x86/Debug/CompetencePlusForm.csproj.FileListAbsolute.txt
CompetencePlusForm/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompetencePlusBAL/obj/Debug/CompetencePlusBAL.csproj.FileListAbsolute.txt
CompetencePlusDAL/obj/Debug/CompetencePlusDAL.csproj.FileListAbsolute.txt
CompetencePlusDAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CompetencePlusForm/bin/Debug/db_cplus.ldb
CompetencePlusForm/bin/Debug/db_cplus_validation.accdb
CompetencePlusForm/obj/x86/Debug/CompetencePlusForm.csproj.FileListAbsolute.txt
CompetencePlusForm/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
